*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.nav-bar {
   
    width: 100%;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 0;
}

.nav-bar .nav-menu li a{
    color:white;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    margin-left: 25px;
    transition: 0.5s;


}

.nav-bar .nav-menu li a:hover{
    color: red;
}

.nav-bar .top-banner .logo a span:hover{
    color: red;
}



.top-banner{
    
    padding: 0 80px;
    margin: auto;
}

.nav-bar .top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.nav-bar .nav-menu li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}


.nav-bar .logo a{
    font-size: 40px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    
}

.home{
    display: flex;
    background-color: grey;
    height: 100vh ;
    min-height: 500x;
    background-size: auto ;
    background-attachment: fixed;
    color: white;

} 



/* home section styling */

.home .top-banner{
    margin: auto 0 auto 40px;

}

.home .home-content .text-1 {
    font-size: 30px;

}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}


.home .home-content .text-3{
    font-size: 40px;
    margin: 5px;

}
.home .home-content .text-3 span{
    color: blue;
    font-weight: 500;
}



/* about section styling */


.about .title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    font-size: 50px;
    text-decoration: underline;

}
.about .about-content{
    display: flex;
    align-items: center;
   
}
.about .about-content .left img{
    height: 500px;
    width: 600px;
    object-fit: cover;
    margin-bottom: 100px;
    margin-left: 100px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 55%;
    
}

.about .about-content .right .description{
    text-align: center;
    padding: 50px;
    line-height: 1.5;

}
